body{
     background-color: aqua;
} 
h2{

    color: rgb(121, 7, 7);
    text-align:center;
    text-transform:uppercase;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
   
}
